<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<div class="container">
			<div class="body">
				<h3>{{heading3}}</h3>
				<p>At Xaria's Restaurant, we strive to give our customers the best experience from the second 
				they walk through the door. They are greeted by a smell of homemade complimentary gooey chewy 
				dark chocolate chip cookies served with their choice of milk(skim, 2%, half-and-half, whole, 
				soy, almond, coconut, goat) when they enter, and are seated in lounge-style personally handmade, 
				down-filled, memory foam massage recliners, with personal cup holders.</p>

				<p>The owner, Xaria, was inspired to open her own restaurant after eating at far too many an 
				establishment with subpar dining experiences. She believes going out to a restaurant with 
				family and friends should be a pleasant and relaxing experience that cannot be had at home. 
				So, she opened a restaurant and stocked it with all her favorite dishes. All meals are made 
				by highly trained executive chefs. All dishes are made from the freshest locally grown, 
				organic ingredients.</p>

				<p>Xaria always looked forward to Sundays when she could accompany her rancheros huevos with a 
				bellini, but she always wondered why she couldn't do that every day. So, when she opened her 
				illustrious restaurant, she made Drunk Brunch possible every day.</p>
			</div>
		</div>
	</body>
</html>