<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<div class="container">
			<div class="body">
				<p>Welcome to {{title}}!</p>
				<p> 
					Hours: <br>
					Mon-Thurs: Noon-10pm <br>
					Fri-Sat: Noon-Midnight <br>
					Sun: 10am-7pm
				</p>
				<p>If you have any questions, please to contact us at (510) 555-2520.</p>
				<p>We are located at 251 Mercer St. New York, NY 10012</p>
			</div>
			<img id="location" src="../images/location.png">
		</div>
	</body>
</html>