<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<div class="container">
			<div class="body">
			<h3>{{heading3}}</h3>
	
					<ul class="database">
						{{#each mealList}}
							<a id="meal" href="/meals/{{name}}">{{name}} ({{hours}})</a><br>
							<br>
						{{/each}}
					</ul>
			</div>
		</div>
	</body>
</html>